@import "./base/settings";
@import "./base/base";

#app_containter {
  display: grid;
  grid-gap: $xl-size;
  border: 10px solid var(--yellow);
  grid-template-columns: 150px 1fr;
}

#header {
  a {
    display: block;
    margin-top: $m-size;
    color: $link-normal-color;
  }

  .is-active {
    color: $highlight-color;
    font-size: $m-size+0.5;
    font-weight: bold;
  }
  
  border-right: 1px solid $highlight-color;
}
