html {
  font-size: 62.5%;
  color: $default-font-color;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: $m-size;
  background-color: antiquewhite;
  padding:$xl-size;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.is-active {
  font-weight: bold;
}
