// Colors
$default-font-color: #505050;
$highlight-color: rgb(148, 91, 0);
$link-normal-color:  rgb(98, 61, 0);

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;

